ul > li {
  list-style: none;
}

article > p:nth-of-type(1) {
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: auto 0;
  color: var(--gunmetal);
  font-weight: 800;
  font-size: 1rem;
  will-change: transform, opacity;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  -webkit-user-select: none;
  user-select: none;
}
/* .react-rater-star {
  outline: 1px solid red;
  color: orange !important;
  will-change: transform, opacity;
  -webkit-user-select: none;
  user-select: none;
}
.react-rater-star:hover {
  color: rgb(219, 202, 106) !important;
  will-change: transform, opacity;
  -webkit-user-select: none;
  user-select: none;
}
.react-rater-star.is-active {
  color: rgb(219, 202, 106) !important;
  will-change: transform, opacity;
  -webkit-user-select: none;
  user-select: none;
} */
.griddisplay {
  text-align: center;
  padding-bottom: 0;
  margin: 0;
}
article {
  width: 100%;
  color: var(--gunmetal);
  font-weight: 800;
  font-size: 1.5rem;
  text-shadow: 0px 2px 40px #00000020, 0px 2px 5px #00000030;
  margin: 0;
}
.endding {
  background-color: #282c34ff;
}

.wrapper {
  width: 100%;
  height: 100%;

  /* background: rgb(95, 191, 249); */
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* button expand to container */
.container {
  position: relative;
  font-size: 2px !important;
  display: inline;
  padding: 2rem;
  max-height: 5rem;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  /* box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05); */
  will-change: width, height;
}
/* .container:hover {
  background-image: linear-gradient(
    125deg,
    var(--neon-blue) 20%,
    var(--maximum-blue-green) 100%
  );
} */

.item {
  width: 30%;
  min-width: 10rem;
  padding-bottom: 2rem;
  display: inline-block;
  background: white;
  margin: 1rem;
  border-radius: 5px;
  will-change: transform, opacity;
}

.item > article {
  display: absolute;
  font-size: 1px !important;
}
.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.socials > p:nth-child(1) > span {
  margin-right: 0.5rem;
  padding: 0.75rem;
  border: 1px solid var(--gunmetal);
  border-radius: 50%;
  color: var(--gunmetal);
  width: 10%;
}

.socials > p:nth-child(1) > span:hover {
  margin-right: 1rem;
  padding: 0.75rem;
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  background-image: linear-gradient(
    125deg,
    var(--neon-blue) 20%,
    var(--maximum-blue-green) 100%
  );
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  width: 10%;
}
.socials > p:nth-child(2) > span {
  float: right;
  margin: 10%;
}
.socials > p:nth-child(2) > span > :nth-child(1) {
  font-size: 2.5rem;
  border: 1px solid var(--gunmetal);
  border-radius: 50%;
  color: var(--gunmetal);
  padding: 0.6rem;
}
.socials > p:nth-child(2) > span > :nth-child(1):hover {
  font-size: 3rem;
  background-image: linear-gradient(
    125deg,
    var(--neon-blue) 20%,
    var(--maximum-blue-green) 100%
  );
  border: 1px solid white;
  border-radius: 50%;
  color: white;
  padding: 0.6rem;
}
footer {
  margin-top: 5%;
  padding-bottom: 5rem;
}
footer:after {
  content: "";
  clear: both;
  float: none;
}
.message {
  width: 30%;
  margin: 0.5rem;
  display: inline-block;
  background: white;
  margin: 1rem;
  border-radius: 5px;
  will-change: transform, opacity;
  border: 1px solid var(--gunmetal);
}
.message > p:nth-child(1) {
  font-size: 1rem;
}
.welcome > section:nth-child(1) {
  width: 70%;
}

.message > p {
  font-size: 1rem;
}
.welcome > ul > li {
  display: inline-block;
}
.welcome > ul {
  width: 100%;
}
.welcome > section > article:nth-child(1) {
  border-right: 1px solid grey;
}
.welcome > section > article:nth-child(2) {
  background-image: linear-gradient(
    125deg,
    var(--maximum-blue-green) 20%,
    var(--neon-blue) 100%
  );
}
@media (min-width: 200px) and (max-width: 700px) {
  /* .navigation-left {
    display: flex;
    outline: 1px solid red;
  } */
  .message > p:nth-child(1) {
    font-size: 0.7rem;
  }
  .welcome > section > article:nth-child(1) {
    border-right: none;
  }

  #wrapper,
  section,
  article {
    content: "";
    clear: both;
    float: none;
    margin: 1rem;
    display: block;
    padding: 1rem;
  }
  #wrapper,
  .item,
  .text {
    width: 100%;
    min-width: 20rem;
    margin-right: 3rem;

    height: 30rem !important;
    margin: 0;
  }
  .images {
    margin: 0 auto;
    margin-left: -5rem;
    width: 115%;
  }
}
