/* save the global typography */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");

:root {
  /* CSS HEX */
  /* --gunmetal: #282c34ff;
  --maximum-blue-green: #16bac5ff;
  --maya-blue: #5fbff9ff;
  --magnolia: #efe9f4ff;
  --neon-blue: #5863f8ff; */

  /* CSS HSL */
  --gunmetal: hsla(220, 13%, 18%, 1);
  --maximum-blue-green: hsla(184, 80%, 43%, 1);
  --maya-blue: hsla(203, 93%, 67%, 1);
  --magnolia: hsla(273, 33%, 94%, 1);
  --neon-blue: hsla(236, 92%, 66%, 1);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 58px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}
p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.App {
  text-align: center;
}
a {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* .fix {
  width: 25%;
  display: flex !important;
}
.fix ul {
  width: 50%;
}
ul > .firebaseui-list-item {
  display: flex !important;
  padding-left: 1rem;
  width: 10rem !important;
  outline: 1px solid red;
} */
.clip {
  width: 8rem;
  height: 8rem;
  clip-path: circle(3.5rem at 3.5rem 4.5rem);
}
.app-body {
  display: flex;
}
.app-body > div:nth-of-type(1) {
  width: 10rem;
  outline: 1px solid red;
}
.app-body > div:nth-of-type(2) {
  width: 100%;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
